* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    color: black;
    font-family: myFont;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}